body {
  font-family: "Tahoma", "sans-serif";
  margin: 1in;
}

h1 {
  font-family: "Georgia", "serif";
  font-size: 56px;
  text-align: center;
}

h2 {
  font-family: "Georgia", "serif";
  font-size: 24px;
}

h3 {
  font-family: "Tahoma", "sans-serif";
  font-size: 20px;
  background-color: #e3d7c0;
  padding: 0.5em 1.5em;
  margin: 0;
  border-radius: 2em;
}
p {
  font-size: 18px;
  text-align: justify;
  line-height: 1.25;
  text-indent: 2em;
}

.container {
  display: flex;
  width:100%;
  justify-content: center;
  gap: 1em;
}