body {
  font-family: "Tahoma", "sans-serif";
  margin: 1in;
}

h1 {
  font-family: "Georgia", "serif";
  text-align: center;
  font-size: 18px;
}

p {
  font-size: 12px;
  text-align: justify;
  line-height: 1;
  text-indent: 2em;
}
