body {
    font-family: "Tahoma", "sans-serif";
    margin: 1in;
}

h1 {
    font-family: 'Georgia', "serif";
}

p {
    font-size: 18px;
    text-align: justify;
    line-height: 1.0;
    text-indent: 2em;
}

